/camkes-vm-examples-manifest
!camkes-vm-examples-manifest/build_zmq/images/capdl-loader-image-x86_64-pc99
!camkes-vm-examples-manifest/build_zmq/images/kernel-x86_64-pc99

/custom-vm-kernel/linux-stable
/custom-vm-kernel/buildroot
/custom-vm-kernel/wireguard-linux-compat
!custom-vm-kernel/linux-stable/arch/x86/boot/bzImage
!custom-vm-kernel/buildroot/output/images/rootfs.cpio

/seL4-CAmkES-L4v-dockerfiles
/sel4-tutorials-manifest
/custom-vm-kernel_backup

/hardware
/hardware/soft
/hardware/images

/qt5
/visual-camkes
/scripts
